<a href="https://colab.research.google.com/github/JM-Ferreras/OOP58001/blob/main/Concepts_of_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#class constructor
class Car:
  pass

In [3]:
#create a class

class MyNumber:
  x=5
  
num1=MyNumber()
print(num1.x)

5

In [4]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
person=Person("onemigz","19")
print(person.age)
print(person.name)

19
onemigz

In [7]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def myFunction(self):
    print("Hello my name is",self.name)
person= Person("onemigz","19")
person.myFunction()

Hello my name is onemigz

In [12]:
#modify the Object properties

person.name = "JM"
print(person.name)
person.myFunction()

JM
Hello my name is JM

In [13]:
#deletion of Object Properties
del person.age
person.myFunction()
print(person.name)

Hello my name is JM
JM

In [16]:
#compute for the area of the square

class cube:
  def __init__(self,sides):
    self.sides=sides
  def area(self):
    return self.sides*self.sides
  def display(self):
    print("The area of the square is",self.area())
square=cube(4)
square.display()

The area of the square is 16

In [19]:
#Create a python program with the following:
#student as class name
#fullname, student number, and school as attribute names
#construct a method to display the values of attributes
#use student as object name

class Person:
    def __init__(self,Fullname,StudentNum,school):
      self.name=Fullname
      self.num=StudentNum
      self.school=school
    def myFunc(self):
      print("Hello my name is",self.name)
      print("My student number is",self.num)
      print("I study at",self.school)

identity = Person("Juan Miguel A. Ferreras", "202215691", "Adamson University")
identity.myFunc()

Hello my name is Juan Miguel A. Ferreras
My student number is 202215691
I study at Adamson University