<a href="https://colab.research.google.com/github/JM-Ferreras/OOP58001/blob/main/Copy_of_Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fundamentals of Python

**Indentation**

In [ ]:
if 5>2:
  print("5 is greater than 2")

5 is greater than 2

**Python Comment**

In [ ]:
#This is a comment
print("Hello World!")

Hello World!

**Python** **Variable**

In [ ]:
x=1

#single value iwht multiple variables
array = [1,2,3]
print (array)

a=b=c="Maria"
print(a)
print(b)
print(c)

[1, 2, 3]
Maria
Maria
Maria

**Casting**

In [ ]:
n=4
print(n)

4

**Type()function**

In [ ]:
c = "sally"
d = (5.6)

print (type(c))
print (type(d))

<class 'str'>
<class 'float'>

**"Double" quotes or 'Single' quotes**

In [ ]:
x = "John"
y = 'John'

display (x)
display (y)

'John'

'John'

**Case Sensitive**

In [2]:
a = 4
A = "sally"

print (a)
print (A)

4
sally

**Multiple Variables**

In [3]:
x,y,z = "one", "two", "three"
print (x)
print (y)
print (z)

one
two
three

**One Value to Multiple Variables**

In [4]:
x= y= z= "four"
print (x)
print (y)
print (z)

four
four

**Arithmetic operators**

In [5]:
x = 5
y = 3
print (x+y)

sum=x+y
sum

8

8

**Assignment operators**

In [6]:
a,b,c=0,-1,6
c%=3
c

0

**Comparison operators**

In [9]:
x = 5
y=2
if (x>y):
  print ("5 is greater than 2")

5 is greater than 2

**Logical operators**

In [11]:
x = 68
y = 32
if (x>10) and (y>10):
    print("x is greater than 10 and y is greater than 10")

68 is greater than 10 and 32 is greater than 10

In [ ]:
x = 68
y = 32
if (x>33) or (y>33):
    print("either x or y is greater than 32")

In [15]:
x = 68
y = 32
if not(x<10 and y<10):
    print("x and y is greater than 10")

x and y is greater than 10

**Identity operators**

In [19]:
a, b, c = 0, -1, 5
a is c

False