<a href="https://colab.research.google.com/github/JM-Ferreras/OOP58001/blob/main/Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Loop**

In [ ]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

**Break**

In [ ]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [ ]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    print(x)
    break

Tuesday

In [62]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Tuesday":
    print(x)
  elif x=="Thursday":
    print(x)
    break

Tuesday
Thursday

**Looping through a string**

In [ ]:
for x in "week":
  print(x)

w
e
e
k

**Nested Loops**

In [ ]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

apple red
apple big
apple tasty
banana red
banana big
banana tasty
cherry red
cherry big
cherry tasty

**Example 5**

In [ ]:
i=1
while i<6:
  print(i)
  i+=1

**While using break statement**

In [ ]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [ ]:
i=1
while i<6:

  if i==3:
    print(i)  #print only 3
    break
  i+=1

3

**While**

In [ ]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

**Application 1**

In [51]:
i=0
while i<11:
  print("hello", i)
  i+=1

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

**Application 2**

In [56]:
i=3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9

****